@page "{aidi?}"
@model WebApplicationMisCompas.Pages.EditarModel
@{ Layout = ""; }

<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/img/Editar/favicon.png">
    <title>Editar Perfil - MisCompas</title>

</head>

<style>

    body {
        background: #F3F5F7;
    }

    .mt-5 {
        margin-top: 12rem !important;
    }

    .bg {
        background-image: url(/img/Editar/ola.jpeg);
        background-position: center center;
    }
</style>

<body style="font-family: 'Poppins', sans-serif; font-size: 12px; font-weight: 300;">
    <div class="container w-75 h-50 bg-primary mt-5 rounded shadow">
        <div class="row align-items-lg-stretch">
            <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">

            </div>
            <div class="col bg-white p-3 rounded-end">
                <div class="text-end">
                    <img src="/img/Editar/mk.png" width="50" alt="logo">
                </div>
                <h2 style="margin-bottom: 1rem;"> Edita tu perfil, <span style="color:#0894fc">miCompa</span></h2>

                <!-- Empieza el login del usuario -->
                <form method="post">
                    <div class="mb-4">
                        <label for="cambiaCarrera" class="form-label">Cambia carrera</label>
                        <select asp-for="Carrera" required class="form-select" id="validationinputGroupSelect01" style="font-size: 14px; ">
                            <option value="">--</option>
                            <option value="1">ITC</option>
                            <option value="2">ITD</option>
                            <option value="3">IRS</option>
                        </select>
                    </div>

                    <div class="mb-4" style="font-family: 'Poppins', sans-serif; font-size: 12px; font-weight: 300 !important;">

                    </div>
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="d-grid col-6">
         
                                <input type="submit" class="btn btn-primary" value="Actualizar" />
                          
                        </div>
                        <div class="col-3"></div>
                    </div>

                </form>

                <!-- OAUTH Logins (Si es que alcanzamos) -->
                <div class="container w-100 my-4">
                    <div class="row text-center">
                        <div class="col-12" style="margin-top: -2rem; margin-bottom: 1rem;">
                            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1 border-bottom"></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row align-items-center">
                                <div class="col-12 text-center">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>